.header__logo {
    font-size: 2.8rem;
    color: rgb(63, 90, 242);
    padding-left: 16px;
    font-weight: bold;
}

main {
    background-color: #eee;
    height: 80%;
}

header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: inline;
    margin-left: 50px;
}

.drawer__hidden {
    display: none;
}

.drawer__open {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: rgb(63, 90, 242);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.drawer__open:hover {
    opacity: 0.8;
}

.drawer__open span,
.drawer__open span:before,
.drawer__open span:after {
    content: "";
    display: block;
    height: 1px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    transition: 0.2s;
    position: absolute;
}

.drawer__open span:before {
    bottom: 6px;
    width: 10px;
}

.drawer__open span:after {
    top: 6px;
    width: 6px;
}

.body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav__list {
    list-style: none;
    height: 60%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__item {
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 12px;
    display: block;
}