main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

header {
    width: 48%;
}

.detail__wrap {
    width: 48%;
    margin-top: 10px;
    height: 620px;
    overflow: auto;
}

.header__back {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    text-decoration: none;
    background-color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.header__shop-name {
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 10px;
}

.detail__image {
    margin: 10px 0;
}

.detail__image-img {
    width: 100%;
}

.detail__tag {
    display: flex;
    font-size: 1.6rem;
}

.detail__tag-info {
    padding-right: 10px;
}

.detail__outline-text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.reservation__wrap {
    width: 45%;
    height: 650px;
    background-color: rgb(63, 90, 242);
    margin-top: -70px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.reservation__content {
    padding: 10px 10% 10px 30px;
}

.reservation__title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.reservation-form {
    background-color: #673ab7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reservation-form select,
.reservation-form input {
    display: block;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    height: 25px;
    width: 100%;
    padding: 5px 10px;
}

.reservation-summary {
    background-color: #5e35b1;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

.reserve-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1e88e5;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.reserve-btn:hover {
    background-color: #1565c0;
}