.user__name {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.mypage__wrap {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.reserve__wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.reserve__tab {
    display: flex;
    flex-wrap: wrap;
}

.reserve__title,
.favorite__title {
    font-size: clamp(1.2rem, 0.6288rem + 1.34vw, 2rem);
    font-weight: bold;
    padding-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    background-color: #eee;
}

.reserve__title {
    flex: 1 1;
    order: -1;
    color: lightgrey;
    cursor: pointer;
    border: 1px solid #eee;
}

.shop__wrap {
    padding: 5px 10px 0 5px;
    gap: 15px;
    justify-content: flex-start;
}

.table__header {
    width: 95px;
    text-align: left;
    font-weight: normal;
    padding: 5px 0;
}

.favorite__wrap {
    display: none;
}